#general{
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    border:1px solid black;
    background-color: #c2c2c8;
}

td{
    text-align: center;
    border:1px solid red;
    width:10%;
    background-color: rgba(68, 199, 255, 0.55);
    color:#fff;
    font-size: 20px;
}