{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/accueil.css') }}">
{% endblock %}
{% block body %}
    <div id="general">
        <table>
            <tr>
                <td>Nom</td>
                <td>Prénom</td>
                <td>Age</td>
                <td>Modification</td>
                <td>Supression</td>
                <td class="header">
                    <a href="/users/create">Créez un utilisateur</a>
                </td>
            </tr>
            {% for user in users %}
            <tr>
                <td>
                    {{ user.Nom }}
                </td>
                <td>
                    {{ user.Prenom }}
                </td>
                <td>
                    {{ user.Age }}
                </td>
                <td>
                    <a href="/users/update/{{ user.Id }}">Modifie moi</a>
                </td>
                <td>
                    <a href="/users/delete/{{ user.Id }}">Supprime moi</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}